.nav a{
	
	color: white;font-family: "Open Sans";font-weight: 800;font-size: 20px;
	
}



#top-styles{
	background: url("../img/pozadina.gif");
}

.text-big	{color: white;font-family: "Open Sans";font-weight: 800;font-size: 80px;}



li{
	list-style: none;
}
.middle-content{
	font-family: Oswald;
}

.authors li:hover
{
	background-color: #fb006a;
}

.authors li{
	font-family: Oswald;
	font-size: 20px;
	border:1px dotted black;
}

.friends{
	border:2px dotted black;
	margin-bottom: 70px;
	
}

.friends li{
	font-family: 'Bree Serif', serif;
	font-size: 16px;
}

.more{
	padding: 10px;
	border:1px solid black;
}

.col-md-offset-5{
	margin-top: 30px;
	margin-bottom: 30px;
}



.da{
	overflow: auto;

}

.da img{
	height: auto;
	width: auto;
}

.fa-lg{
	margin: 10px;
}

.authors,.da{
	margin-top: 25px;
}

a:hover{
	background-color: blue;
}